@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  --rt-background: #f6f6ee;
  --rt-primary: #574545;
  --rt-secondary: #d50037;
  --rt-grey: #878787;
  --rt-grey-dark: #3c3c3b;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  @apply bg-rt-background;
}
